<h1><%= @article.title %></h1>
<p><%= link_to "Edit this article", edit_article_path(@article)%></p>
<p ><%= @article.content %></p>

<hr>
<%= link_to "Delete this article",
            article_path(@article),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<hr>
<p><%= link_to "Back to all articles",  articles_path %></p>