<h1><%= @article.title %></h1>
<p><%= link_to "Edit this article", article_edit_path(@article)%></p>
<p ><%= @article.content %></p>

<hr>
<p><%= link_to "Delete this article",
            article_path(@article),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</p>
<hr>
<p><%= link_to "Back to all articles", articles_path %></p>